@using PG.Logic.Passwords.Generators
@using PG.Logic.Passwords.Generators.Entities
@using PG.Wasm.PasswordGenerator.Components.Passwords.Models
@inject IJSRuntime JSRuntime

@code {
	[Parameter]
	public PasswordResult? Password { get; set; }

	[Parameter]
	public PasswordSize Size { get; set; } = PasswordSize.Small;
}

<Toasts class="p-3" Messages="messages" AutoHide="true" Delay="1500" Placement="ToastsPlacement.TopRight" />

@if (Password != null)
{
	<div class="container-fluid p-0">
		<div class="row g-2 flex-nowrap">
			<div class="col-auto align-self-center px-1 py-0" style="width: auto">
				<LevelWidget Height="36" Level="@TrueLevel"
										 CommentHtml="@(@$"<h5>Entropy (true)</h5> <h4>{TrueEntropyText}</h4> <p class=""text-muted"">{TrueEntropyDescription}</p>")" />
				<span>|</span>
				<LevelWidget Height="36" Level="@DerivedLevel"
										 CommentHtml="@(@$"<h5>Entropy (derived)</h5> <h4>{DerivedEntropyText}</h4> <p class=""text-muted"">{DerivedEntropyDescription}</p>")" />
			</div>
			<div class="col align-self-center flex-grow-1 flex-shrink-1 px-0 py-0" style="min-width: 0;">
				<span class="password text-truncate mw-100" style="@(PasswordStyle)">@Password.Password</span>
			</div>
			<div class="col-auto">
				<Button Color="ButtonColor.Secondary" @onclick="() => CopyToClipboard(Password.Password)"><Icon Name="IconName.Clipboard2CheckFill" /></Button>
			</div>
		</div>
	</div>
}

@code {
	private int TrueLevel { get => GetLevel(Password?.TrueEntropy); }
	private int DerivedLevel { get => GetLevel(Password?.DerivedEntropy); }
	private string TrueEntropyText { get => GenerateEntropyDescription(Password?.TrueEntropy); }
	private string DerivedEntropyText { get => GenerateEntropyDescription(Password?.DerivedEntropy); }
	private string TrueEntropyDescription { get => "Is calculated based on the number of possible combinations occurred during the password generation."; }
	private string DerivedEntropyDescription { get => "Is calculated based on the generated password, based on the different types of characters and the password length."; }

	private List<ToastMessage> messages = new List<ToastMessage>();

	private string PasswordStyle
	{
		get => Size switch
		{
			PasswordSize.Small => "font-size: 0.9rem;",
			PasswordSize.Medium => "font-size: 1.2rem;",
			PasswordSize.Large => "font-size: 1.5rem;",
			_ => "font-size: 1rem;",
		};
	}

	private int GetLevel(double? entropy)
	{
		if (!entropy.HasValue) return -1;

		var strength = PasswordGeneratorBase.CalculateStrength(entropy.Value);
		return (int)strength;
	}

	private string GenerateEntropyDescription(double? entropy)
	{
		if (!entropy.HasValue) return string.Empty;

		return entropy.HasValue ? $"{entropy:F2} bits ({GetEntropyStrengthText(entropy.Value)})" : string.Empty;
	}

	private string GetEntropyStrengthText(double entropy)
	{
		var strength = PasswordGeneratorBase.CalculateStrength(entropy);
		return GetEntropyStrengthText(strength);
	}

	private string GetEntropyStrengthText(PasswordStrength strength)
	{
		return strength switch
		{
			PasswordStrength.VeryWeak => "Very weak",
			PasswordStrength.Weak => "Weak",
			PasswordStrength.Reasonable => "Medium",
			PasswordStrength.Strong => "Strong",
			PasswordStrength.VeryStrong => "Very strong",
			_ => "Unknown",
		};
	}

	private async Task CopyToClipboard(string text)
	{
		await JSRuntime.InvokeVoidAsync("navigator.clipboard.writeText", text);
		ShowMessage(ToastType.Secondary, "Password copied to clipboard.");
	}
	private void ShowMessage(ToastType toastType, string message) => messages.Add(CreateToastMessage(toastType, message));

	private ToastMessage CreateToastMessage(ToastType toastType, string message)
	{
		return new ToastMessage
			{
				Type = toastType,
				AutoHide = !new[] { ToastType.Danger, ToastType.Warning }.Contains(toastType),
				Message = message,
			};
	}
}